{% extends 'base.html' %}


{% block main %}



<form class="form" method="post">
    <h1>Регистрация</h1>
    <div class="in-form">
        <label>Почта:</label>
        <input type="text" name="email" placeholder="Введите почту" title="Введите вашу почту" required>
    </div>
    <div class="in-form">
        <label>Пароль:</label>
        <input type="password" name="password" placeholder="Введите пароль" title="Введите пароль" required>
    </div>
    <button type="submit">Зарегистрироваться</button>
    </form>
<div class="flash">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>




{% endblock %}